In [69]:
import pandas as pd
import plotly.graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots
import os
from IPython.display import display
import plotly.io as pio
pio.renderers.default = 'notebook'

In [46]:
dfo = pd.read_csv('processed_emissions.csv')

dfo['Country'] = dfo['Country'].fillna(method='ffill')

if dfo['Country'].notna().iloc[0] != 'European Union':
    dfo['Country'] = dfo['Country'].apply(lambda x: 'European Union' 
                                          if x == df['Country'].notna().iloc[0] else x)


dfo['Country'] = dfo['Country'].fillna(method='ffill')
#df.to_csv('processed_emissions_modified.csv', index=False)

In [47]:
d2 = pd.read_csv("processed_emissions_modified.csv")
unique_emission_types = d2['Type of Emission'].unique()
country = d2['Country'].unique()

print(unique_emission_types)

[nan '    Emissions' '        CO2 emissions (MMtonnes CO2)'
 '            Coal and coke (MMtonnes CO2)'
 '            Consumed natural gas (MMtonnes CO2)'
 '            Petroleum and other liquids (MMtonnes CO2)']

In [123]:
df = pd.read_csv("processed_emissions_modified.csv") 
filtered_df = df[
    (df['Type of Emission'] == '        CO2 emissions (MMtonnes CO2)') &
    (df['Country'] == 'European Union')
]

years = [str(year) for year in range(1980, 2020)]

filtered_df_years = filtered_df[years]

filtered_df_years = filtered_df_years.apply(pd.to_numeric, errors='coerce')

emissions_by_year = filtered_df_years.sum()

fig = go.Figure()

fig.add_trace(go.Scatter(
    x=emissions_by_year.index,
    y=emissions_by_year.values,
    mode='lines+markers',
    name='CO2 Emissions',
    line=dict(color='blue', width=2),
    marker=dict(size=6, color='red')
))

fig.update_layout(
    title='Evolution of CO2 Emissions for the European Union (1980-2019)',
    xaxis_title='Year',
    yaxis_title='CO2 Emissions (MMtonnes CO2)',
    xaxis=dict(
        tickmode='linear',
        tickvals=list(range(1980, 2020)),
        ticktext=[str(year) for year in range(1980, 2020)],
        tickangle=-45
    ),
    yaxis=dict(
        title='CO2 Emissions (MMtonnes CO2)',
        rangemode='tozero'
    ),
    plot_bgcolor='white',
    paper_bgcolor='lightgray'
)

fig.show()

In [118]:
co2_df = d2[d2['Type of Emission'].str.strip() == 'CO2 emissions (MMtonnes CO2)']

years = [str(year) for year in range(1980, 2023)]

co2_df.loc[:, years] = co2_df[years].apply(pd.to_numeric, errors='coerce')

co2_df = co2_df.drop_duplicates(subset=['Country'])

co2_df.set_index('Country', inplace=True)
total_emissions = co2_df[years].sum(axis=1)

sorted_emissions = total_emissions.sort_values(ascending=False)

top_20 = sorted_emissions.head(20)
bottom_20 = sorted_emissions.tail(20)

middle_index = len(sorted_emissions) // 2
if len(sorted_emissions) < 20:
    middle_20 = sorted_emissions
else:
    middle_20 = sorted_emissions.iloc[middle_index - 5: middle_index + 5]

print("Top 20 countries with highest CO2 emissions:")
print(top_20)
print("\nBottom 20 countries with lowest CO2 emissions:")
print(bottom_20)
print("\nMiddle 20 countries with CO2 emissions:")
print(middle_20)

Top 20 countries with highest CO2 emissions:
Country
Non-OPEC                   1099336.572561
Non-OECD                    621492.401469
OECD                        534792.262455
OECD - North America        264033.009115
China                       244316.443166
United States               226226.987116
OECD - Europe               179442.282205
European Union              151951.378569
OECD - Asia And Oceania      83238.135426
OPEC                         56948.091363
Russia                       52309.139521
India                        50212.609054
Japan                        48533.939993
Persian Gulf                 46750.484226
Former U.S.S.R.              45510.782744
Germany                      26740.573594
United Kingdom               23047.705693
Canada                       21925.366524
South Korea                  19106.821483
Italy                        17110.155212
dtype: object

Bottom 20 countries with lowest CO2 emissions:
Country
Antarctica                    6.30343
Nauru                        5.899133
Comoros                      5.441314
Vanuatu                      5.163268
Saint Pierre and Miquelon    4.772995
Tonga                        4.729981
Dominica                     4.314292
British Virgin Islands       4.162503
Sao Tome and Principe        4.080923
Turks and Caicos Islands     3.259972
Cook Islands                 2.978293
Micronesia                   2.097782
Montserrat                   1.900362
Kiribati                     1.697708
Falkland Islands             1.379492
Saint Helena                 0.367539
Niue                         0.192027
U.S. Territories                  0.0
Tuvalu                            0.0
Northern Mariana Islands          0.0
dtype: object

Middle 20 countries with CO2 emissions:
Country
Jamaica          378.943265
Ghana            326.466146
Cote d'Ivoire    288.585469
Cyprus            281.27985
Brunei           270.206295
Gibraltar        262.934748
Uruguay          260.323916
Latvia           258.373956
Ethiopia         256.798345
Kyrgyzstan       246.644607
dtype: object

In [127]:
file_path = "average-latitude-longitude-countries.csv"
dfA = pd.read_csv(file_path)

def categorize_latitude(latitude):
    if latitude > 23.5:
        return "North of Tropic of Cancer"
    elif 0 < latitude <= 23.5:
        return "Tropic of Cancer"
    elif latitude == 0:
        return "Equator"
    elif -23.5 <= latitude < 0:
        return "Tropic of Capricorn"
    else:
        return "South of Tropic of Capricorn"

dfA['Category'] = dfA['Latitude'].apply(categorize_latitude)

grouped = dfA.groupby('Category')['Country'].apply(list)

for category, countries in grouped.items():
    print(f"Category: {category}")
    print(f"Number of countries: {len(countries)}")
    print("Countries:", ", ".join(countries))
    print("\n")

Category: Equator
Number of countries: 1
Countries: Congo, The Democratic Republic of the


Category: North of Tropic of Cancer
Number of countries: 93
Countries: Andorra, United Arab Emirates, Afghanistan, Albania, Armenia, Asia/Pacific Region, Austria, Azerbaijan, Bosnia and Herzegovina, Bangladesh, Belgium, Bulgaria, Bahrain, Bermuda, Bahamas, Bhutan, Belarus, Canada, Switzerland, China, Cyprus, Czech Republic, Germany, Denmark, Algeria, Estonia, Egypt, Western Sahara, Spain, Europe, Finland, Faroe Islands, France, United Kingdom, Georgia, Gibraltar, Greenland, Greece, Croatia, Hungary, Ireland, Israel, Iraq, Iran, Islamic Republic of, Iceland, Italy, Jordan, Japan, Kyrgyzstan, Korea, Democratic People's Republic of, Korea, Republic of, Kuwait, Kazakhstan, Lebanon, Liechtenstein, Lithuania, Luxembourg, Latvia, Libyan Arab Jamahiriya, Morocco, Monaco, Moldova, Republic of, Montenegro, Macedonia, Mongolia, Malta, Netherlands, Norway, Nepal, Pakistan, Poland, Saint Pierre and Miquelon, Palestinian Territory, Portugal, Qatar, Romania, Serbia, Russian Federation, Saudi Arabia, Sweden, Slovenia, Svalbard and Jan Mayen, Slovakia, San Marino, Syrian Arab Republic, Tajikistan, Turkmenistan, Tunisia, Turkey, Ukraine, United States, Uzbekistan, Holy See (Vatican City State)


Category: South of Tropic of Capricorn
Number of countries: 15
Countries: Antarctica, Argentina, Australia, Bouvet Island, Chile, Falkland Islands (Malvinas), South Georgia and the South Sandwich Islands, Heard Island and McDonald Islands, Lesotho, Norfolk Island, New Zealand, Swaziland, French Southern Territories, Uruguay, South Africa


Category: Tropic of Cancer
Number of countries: 88
Countries: Antigua and Barbuda, Anguilla, Netherlands Antilles, Aruba, Barbados, Burkina Faso, Benin, Brunei Darussalam, Belize, Central African Republic, Cote d'Ivoire, Cameroon, Colombia, Costa Rica, Cuba, Cape Verde, Djibouti, Dominica, Dominican Republic, Eritrea, Ethiopia, Micronesia, Federated States of, Grenada, French Guiana, Ghana, Gambia, Guinea, Guadeloupe, Equatorial Guinea, Guatemala, Guam, Guinea-Bissau, Guyana, Hong Kong, Honduras, Haiti, India, Jamaica, Kenya, Cambodia, Kiribati, Saint Kitts and Nevis, Cayman Islands, Lao People's Democratic Republic, Saint Lucia, Sri Lanka, Liberia, Marshall Islands, Mali, Myanmar, Macao, Northern Mariana Islands, Martinique, Mauritania, Montserrat, Maldives, Mexico, Malaysia, Niger, Nigeria, Nicaragua, Oman, Panama, Philippines, Puerto Rico, Palau, Sudan, Singapore, Sierra Leone, Senegal, Somalia, Suriname, Sao Tome and Principe, El Salvador, Turks and Caicos Islands, Chad, Togo, Thailand, Trinidad and Tobago, Taiwan, Uganda, United States Minor Outlying Islands, Saint Vincent and the Grenadines, Venezuela, Virgin Islands, British, Virgin Islands, U.S., Vietnam, Yemen


Category: Tropic of Capricorn
Number of countries: 43
Countries: Angola, American Samoa, Burundi, Bolivia, Brazil, Botswana, Cocos (Keeling) Islands, Congo, Cook Islands, Christmas Island, Ecuador, Fiji, Gabon, Indonesia, British Indian Ocean Territory, Comoros, Madagascar, Mauritius, Malawi, Mozambique, Namibia, New Caledonia, Nauru, Niue, Peru, French Polynesia, Papua New Guinea, Paraguay, Reunion, Rwanda, Solomon Islands, Seychelles, Saint Helena, Tokelau, Tonga, Tuvalu, Tanzania, United Republic of, Vanuatu, Wallis and Futuna, Samoa, Mayotte, Zambia, Zimbabwe

In [128]:
years = [str(year) for year in range(1980, 2013)]  # Years as strings from "1980" to "2012"

df_copy = df.copy()

df_copy[years] = df_copy[years].apply(pd.to_numeric, errors='coerce')

emission_types = ['        CO2 emissions (MMtonnes CO2)',
    '            Coal and coke (MMtonnes CO2)',
    '            Consumed natural gas (MMtonnes CO2)',
    '            Petroleum and other liquids (MMtonnes CO2)'
]

df_copy['Stock Emissions (1980-2012)'] = pd.NA

for emission_type in emission_types:
    mask = df_copy['Type of Emission'] == emission_type
    df_copy.loc[mask, 'Stock Emissions (1980-2012)'] = df_copy.loc[mask, years].sum(axis=1)

#remaining_mask = ~df_copy['Type of Emission'].isin(emission_types)
#df_copy.loc[remaining_mask, 'Stock Emissions (1980-2012)'] = df_copy.loc[remaining_mask, years].sum(axis=1)

df['Stock Emissions (1980-2012)'] = df_copy['Stock Emissions (1980-2012)']

df.head(20)

,Country,Type of Emission,1949,1950,1951,1952,1953,1954,1955,1956,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Stock Emissions (1980-2012)
0,European Union,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>
1,European Union,Emissions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>
2,European Union,CO2 emissions (MMtonnes CO2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3095.50335549,3151.795757334,3158.350350425,3229.106490498,3173.837904551,3050.515706002,2674.174407197,2861.862122568,2810.895446026,121511.442133
3,European Union,Coal and coke (MMtonnes CO2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,928.0586723010746,924.3504438731959,881.395946525172,885.8347672131258,837.4372789408834,686.1986177198614,553.60432220144,625.2556464438163,638.1503754676833,44943.461508
4,European Union,Consumed natural gas (MMtonnes CO2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,665.44437301,693.833401501,733.071018948,771.853227747,760.421619714,785.818991333,750.968713961,788.586325812,672.944252201,21430.969333
5,European Union,Petroleum and other liquids (MMton...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1502.0003101813543,1533.6119119599196,1543.883384950255,1571.418495536,1575.979005895,1578.4980969494302,1369.6013710344841,1448.0201503162598,1499.8008183615273,55137.011292
6,Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>
7,Austria,Emissions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>
8,Austria,CO2 emissions (MMtonnes CO2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,61.136785464,63.186494439,63.750893511,66.333644577,63.769949626,65.360858771,57.76380755,60.910858543,57.876438884,1990.777655
9,Austria,Coal and coke (MMtonnes CO2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.205085239638642,11.967926710380212,11.230113679329772,11.864013919872137,10.384165498079478,10.507913733946198,9.328810357978634,9.511334410119511,9.48316607267243,424.510927
10,Austria,Consumed natural gas (MMtonnes CO2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.076338463,16.087613967,16.80046907,18.236061657,16.989644128,17.744464037,16.871375192,17.864966133,15.635679613,464.694731
11,Austria,Petroleum and other liquids (MMton...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.85536176166457,35.130953761664564,35.720310761664564,36.233569,36.39614,37.108481,31.563622,33.534558,32.757593198405,1101.571996
12,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>
13,Belgium,Emissions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>
14,Belgium,CO2 emissions (MMtonnes CO2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,113.901563364,119.893288023,121.327901986,124.0826927,132.641063321,128.755497182,113.95359497,122.500226277,116.270763817,4283.400171
15,Belgium,Coal and coke (MMtonnes CO2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.29965491313181,10.55531504917712,9.940550326919125,9.656882090910477,9.82993892332396,10.301335956240564,7.951250736399878,8.797731563390197,8.162998041930294,992.818929
16,Belgium,Consumed natural gas (MMtonnes CO2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29.715148451,32.507609974,33.048260659,33.423870609,34.439054398,34.706019226,34.510421234,34.622002714,29.112785125,865.016853
17,Belgium,Petroleum and other liquids (MMton...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,72.88676,76.830363,78.339091,81.00194,88.37207,83.748142,71.491923,79.080492,78.99498065040974,2425.564389
18,Bulgaria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>
19,Bulgaria,Emissions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>

In [129]:
filtered_df = df[df['Type of Emission'].isin(emission_types)].copy() 

years = [str(year) for year in range(2013, 2023)] 
for year in years:
    filtered_df[year] = pd.to_numeric(filtered_df[year], errors='coerce')
filtered_df['Stock Emissions (1980-2012)'] = pd.to_numeric(filtered_df['Stock Emissions (1980-2012)'], 
                                                           errors='coerce')


for year in years:
    change_col = f'% change of {year}'
    
    filtered_df.loc[:, change_col] = (filtered_df[year] / filtered_df['Stock Emissions (1980-2012)']) * 100

#filtered_df.to_csv('updated_data.csv', index=False)

filtered_df.head(30)

,Country,Type of Emission,1949,1950,1951,1952,1953,1954,1955,1956,...,% change of 2013,% change of 2014,% change of 2015,% change of 2016,% change of 2017,% change of 2018,% change of 2019,% change of 2020,% change of 2021,% change of 2022
2,European Union,CO2 emissions (MMtonnes CO2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.661391,2.547499,2.593826,2.599221,2.657451,2.611966,2.510476,2.200759,2.355220,2.313276
3,European Union,Coal and coke (MMtonnes CO2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.149765,2.064947,2.056696,1.961122,1.970998,1.863313,1.526804,1.231779,1.391205,1.419896
4,European Union,Consumed natural gas (MMtonnes CO2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.494066,3.105060,3.237527,3.420615,3.601579,3.548237,3.666745,3.504129,3.679658,3.140055
5,European Union,Petroleum and other liquids (MMton...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.754781,2.724124,2.781456,2.800085,2.850025,2.858296,2.862865,2.483996,2.626222,2.720134
8,Austria,CO2 emissions (MMtonnes CO2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.236763,3.071000,3.173960,3.202311,3.332047,3.203268,3.283182,2.901570,3.059652,2.907228
9,Austria,Coal and coke (MMtonnes CO2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.828761,2.639528,2.819227,2.645424,2.794749,2.446148,2.475299,2.197543,2.240539,2.233904
10,Austria,Consumed natural gas (MMtonnes CO2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.554293,3.244353,3.461975,3.615378,3.924310,3.656087,3.818521,3.630636,3.844452,3.364721
11,Austria,Petroleum and other liquids (MMton...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.260045,3.164147,3.189165,3.242667,3.289260,3.304018,3.368684,2.865325,3.044246,2.973713
14,Belgium,CO2 emissions (MMtonnes CO2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.863420,2.659139,2.799021,2.832514,2.896827,3.096630,3.005918,2.660354,2.859883,2.714450
15,Belgium,Coal and coke (MMtonnes CO2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.269449,1.138139,1.063166,1.001245,0.972673,0.990104,1.037585,0.800876,0.886137,0.822204
16,Belgium,Consumed natural gas (MMtonnes CO2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.921870,3.435210,3.758032,3.820534,3.863956,3.981316,4.012178,3.989566,4.002466,3.365574
17,Belgium,Petroleum and other liquids (MMton...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.138386,3.004940,3.167525,3.229726,3.339509,3.643361,3.452728,2.947435,3.260292,3.256767
20,Bulgaria,CO2 emissions (MMtonnes CO2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.903609,2.034260,2.143241,1.989730,2.103943,1.980830,1.846958,1.649092,1.886114,2.061454
21,Bulgaria,Coal and coke (MMtonnes CO2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.299212,2.475631,2.533359,2.205193,2.396424,2.160535,1.970491,1.594332,1.980406,2.369315
22,Bulgaria,Consumed natural gas (MMtonnes CO2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.116531,2.034715,2.242012,2.262356,2.356977,2.226388,2.084069,2.110742,2.390403,1.992575
23,Bulgaria,Petroleum and other liquids (MMton...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.306487,1.449734,1.592703,1.610544,1.629534,1.658313,1.601722,1.562563,1.587554,1.677577
26,Croatia,CO2 emissions (MMtonnes CO2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.056826,3.763190,3.838663,3.939713,4.131125,4.118275,4.135542,3.809470,3.981440,3.829143
27,Croatia,Coal and coke (MMtonnes CO2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.816793,6.571287,6.138361,6.647731,3.997144,3.696452,4.350378,3.654462,4.302749,4.060714
28,Croatia,Consumed natural gas (MMtonnes CO2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.320476,3.497944,3.587008,3.845466,4.496850,4.815253,5.054234,5.254921,5.020633,4.368461
29,Croatia,Petroleum and other liquids (MMton...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.545362,3.468472,3.611868,3.587166,3.995839,3.884580,3.715805,3.220508,3.495303,3.567456
32,Cyprus,CO2 emissions (MMtonnes CO2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.354129,3.388538,3.521331,3.826567,3.944318,3.957707,3.853624,3.144248,3.109134,3.229675
33,Cyprus,Coal and coke (MMtonnes CO2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.429350,0.949059,0.894313,0.035301,0.041856,0.038848,0.030918,0.011802,0.011284,11.426128
34,Cyprus,Consumed natural gas (MMtonnes CO2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Cyprus,Petroleum and other liquids (MMton...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.368687,3.400680,3.534406,3.845438,3.963742,3.977213,3.872651,3.159839,3.124553,3.188879
38,Czechia,CO2 emissions (MMtonnes CO2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.331240,4.310722,4.412808,4.480265,4.533107,4.445350,4.245126,3.777795,3.980146,3.888596
39,Czechia,Coal and coke (MMtonnes CO2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.069501,4.090802,4.162769,4.171718,4.103164,4.016066,3.637060,3.096586,3.208683,3.258422
40,Czechia,Consumed natural gas (MMtonnes CO2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.792096,4.264782,4.472273,4.826391,4.960535,4.700659,4.936489,5.010597,5.375477,4.320823
41,Czechia,Petroleum and other liquids (MMton...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.923521,5.148393,5.277525,5.333222,5.764728,5.809680,5.918823,5.293082,5.696832,5.846297
44,Denmark,CO2 emissions (MMtonnes CO2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.295490,2.097483,1.971272,2.052481,1.919673,1.941781,1.834299,1.536301,1.642044,1.624170
45,Denmark,Coal and coke (MMtonnes CO2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.787351,1.426226,1.014983,1.170064,0.871114,0.897061,0.512885,0.404063,0.596681,0.589846